.page-ban {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-image: url(img/banner-menu.jpg);
    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
    color: white;
    opacity: 1.5;
}

.page-ban h1{
    font-weight: bold; 
}

.card-img-top{
    max-height: 230px;
    border-radius: 0;
    border: none;
}

.card-group{
    margin-bottom: 1px;
}

.card{
    display: flex;
    height: 480px;
    width: 360px;
    border-radius: 0;
}