img.testimonios{
  height: 150px;

}

section#testimonios{
  margin-top: 30px;
  margin-bottom: 30px;
}
.carousel-inner img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
}

div.clearfix{
  clear:both;
}