img.testimonio{
  height: 200px;
}

section#sandwich img{
  max-height: 230px;
}

section#empanadas img{
  max-height: 230px;
}

section#platos img{
  max-height: 230px;
}

section#postres img{
  max-height: 230px;
}

section#bebestibles img{
  max-height: 230px;
}

section#testimonios{
  margin-top: 30px;
  margin-bottom: 30px;
}
.carousel-inner img {
  object-fit: scale-down;
  height: 80vh;
  width: 100%;
}

section#cartas-productos img{
  max-height: 200px;
}

div.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

div.clearfix{
  clear:both;
}